@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "remixicon/fonts/remixicon.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-screen-minus-20 {
    height: calc(100vh - 20px);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  padding: 0 !important;
  box-sizing: border-box;
}

:root {
  --xassida-green: #00bf63;
}

.controls-out {
  bottom: -4rem;
}

#progress,
#progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
}

#progress::-webkit-slider-thumb {
  background-color: var(--xassida-green);
  border-radius: 100%;
  scale: 1.5;
  aspect-ratio: 1;
  height: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
